<p id="notice"><%= notice %></p>

<h1>Stores</h1>

<table>
  <thead>
    <tr>
      <th>Storename</th>
      <th>Company</th>
      <th>Street1</th>
      <th>Street2</th>
      <th>Street3</th>
      <th>City</th>
      <th>Stateprovcode</th>
      <th>Postalcode</th>
      <th>Countrycode</th>
      <th>Phone</th>
      <th>Fax</th>
      <th>Email</th>
      <th>Website</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td><%= store.StoreName %></td>
        <td><%= store.Company %></td>
        <td><%= store.Street1 %></td>
        <td><%= store.Street2 %></td>
        <td><%= store.Street3 %></td>
        <td><%= store.City %></td>
        <td><%= store.StateProvCode %></td>
        <td><%= store.PostalCode %></td>
        <td><%= store.CountryCode %></td>
        <td><%= store.Phone %></td>
        <td><%= store.Fax %></td>
        <td><%= store.Email %></td>
        <td><%= store.Website %></td>
        <td><%= link_to 'Show', store %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

