<p id="notice"><%= notice %></p>

<p>
  <strong>Rowversion:</strong>
  <%= @store.RowVersion %>
</p>

<p>
  <strong>License:</strong>
  <%= @store.License %>
</p>

<p>
  <strong>Edition:</strong>
  <%= @store.Edition %>
</p>

<p>
  <strong>Typecode:</strong>
  <%= @store.TypeCode %>
</p>

<p>
  <strong>Enabled:</strong>
  <%= @store.Enabled %>
</p>

<p>
  <strong>Setupcomplete:</strong>
  <%= @store.SetupComplete %>
</p>

<p>
  <strong>Storename:</strong>
  <%= @store.StoreName %>
</p>

<p>
  <strong>Company:</strong>
  <%= @store.Company %>
</p>

<p>
  <strong>Street1:</strong>
  <%= @store.Street1 %>
</p>

<p>
  <strong>Street2:</strong>
  <%= @store.Street2 %>
</p>

<p>
  <strong>Street3:</strong>
  <%= @store.Street3 %>
</p>

<p>
  <strong>City:</strong>
  <%= @store.City %>
</p>

<p>
  <strong>Stateprovcode:</strong>
  <%= @store.StateProvCode %>
</p>

<p>
  <strong>Postalcode:</strong>
  <%= @store.PostalCode %>
</p>

<p>
  <strong>Countrycode:</strong>
  <%= @store.CountryCode %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @store.Phone %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @store.Fax %>
</p>

<p>
  <strong>Email:</strong>
  <%= @store.Email %>
</p>

<p>
  <strong>Website:</strong>
  <%= @store.Website %>
</p>

<p>
  <strong>Autodownload:</strong>
  <%= @store.AutoDownload %>
</p>

<p>
  <strong>Autodownloadminutes:</strong>
  <%= @store.AutoDownloadMinutes %>
</p>

<p>
  <strong>Autodownloadonlyaway:</strong>
  <%= @store.AutoDownloadOnlyAway %>
</p>

<p>
  <strong>Addressvalidationsetting:</strong>
  <%= @store.AddressValidationSetting %>
</p>

<p>
  <strong>Computerdownloadpolicy:</strong>
  <%= @store.ComputerDownloadPolicy %>
</p>

<p>
  <strong>Defaultemailaccountid:</strong>
  <%= @store.DefaultEmailAccountID %>
</p>

<p>
  <strong>Manualorderprefix:</strong>
  <%= @store.ManualOrderPrefix %>
</p>

<p>
  <strong>Manualorderpostfix:</strong>
  <%= @store.ManualOrderPostfix %>
</p>

<p>
  <strong>Initialdownloaddays:</strong>
  <%= @store.InitialDownloadDays %>
</p>

<p>
  <strong>Initialdownloadorder:</strong>
  <%= @store.InitialDownloadOrder %>
</p>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
