<h1><i class="fa fa-shopping-cart fa-fw"></i>Orders</h1>

<table class="table table-bordered table-hover table-striped">
  <thead>
    <tr>
      <th>Ordernumber</th>
      <th>Orderdate</th>
      <th>Localstatus</th>
      <th>Onlinestatus</th>
      <th>Requestedshipping</th>
      <th>Billfirstname</th>
      <th>Billmiddlename</th>
      <th>Billlastname</th>
      <th>Billcompany</th>
      <th>Billstreet1</th>
      <th>Billstreet2</th>
      <th>Billstreet3</th>
      <th>Billcity</th>
      <th>Billstateprovcode</th>
      <th>Billpostalcode</th>
      <th>Billcountrycode</th>
      <th>Billemail</th>
      <th>Billpobox</th>
      <th>Shipfirstname</th>
      <th>Shipmiddlename</th>
      <th>Shiplastname</th>
      <th>Shipcompany</th>
      <th>Shipstreet1</th>
      <th>Shipstreet2</th>
      <th>Shipstreet3</th>
      <th>Shipcity</th>
      <th>Shipstateprovcode</th>
      <th>Shippostalcode</th>
      <th>Shipcountrycode</th>
      <th>Shipphone</th>
      <th>Shipfax</th>
      <th>Shipemail</th>
      <th>Shippobox</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= link_to order.OrderNumber, order %></td>
        <td><%= order.OrderDate %></td>
        <td><%= order.LocalStatus %></td>
        <td><%= order.OnlineStatus %></td>
        <td><%= order.RequestedShipping %></td>
        <td><%= order.BillFirstName %></td>
        <td><%= order.BillMiddleName %></td>
        <td><%= order.BillLastName %></td>
        <td><%= order.BillCompany %></td>
        <td><%= order.BillStreet1 %></td>
        <td><%= order.BillStreet2 %></td>
        <td><%= order.BillStreet3 %></td>
        <td><%= order.BillCity %></td>
        <td><%= order.BillStateProvCode %></td>
        <td><%= order.BillPostalCode %></td>
        <td><%= order.BillCountryCode %></td>
        <td><%= order.BillEmail %></td>
        <td><%= order.BillPOBox %></td>
        <td><%= order.ShipFirstName %></td>
        <td><%= order.ShipMiddleName %></td>
        <td><%= order.ShipLastName %></td>
        <td><%= order.ShipCompany %></td>
        <td><%= order.ShipStreet1 %></td>
        <td><%= order.ShipStreet2 %></td>
        <td><%= order.ShipStreet3 %></td>
        <td><%= order.ShipCity %></td>
        <td><%= order.ShipStateProvCode %></td>
        <td><%= order.ShipPostalCode %></td>
        <td><%= order.ShipCountryCode %></td>
        <td><%= order.ShipPhone %></td>
        <td><%= order.ShipFax %></td>
        <td><%= order.ShipEmail %></td>
        <td><%= order.ShipPOBox %></td>
        <td><%= link_to 'Show', order %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @orders %>
