<p id="notice"><%= notice %></p>

<p>
  <strong>Rowversion:</strong>
  <%= @order.RowVersion %>
</p>

<p>
  <strong>Storeid:</strong>
  <%= @order.StoreID %>
</p>

<p>
  <strong>Customerid:</strong>
  <%= @order.CustomerID %>
</p>

<p>
  <strong>Ordernumber:</strong>
  <%= @order.OrderNumber %>
</p>

<p>
  <strong>Ordernumbercomplete:</strong>
  <%= @order.OrderNumberComplete %>
</p>

<p>
  <strong>Orderdate:</strong>
  <%= @order.OrderDate %>
</p>

<p>
  <strong>Ordertotal:</strong>
  <%= @order.OrderTotal %>
</p>

<p>
  <strong>Localstatus:</strong>
  <%= @order.LocalStatus %>
</p>

<p>
  <strong>Ismanual:</strong>
  <%= @order.IsManual %>
</p>

<p>
  <strong>Onlinelastmodified:</strong>
  <%= @order.OnlineLastModified %>
</p>

<p>
  <strong>Onlinestatus:</strong>
  <%= @order.OnlineStatus %>
</p>

<p>
  <strong>Onlinestatuscode:</strong>
  <%= @order.OnlineStatusCode %>
</p>

<p>
  <strong>Requestedshipping:</strong>
  <%= @order.RequestedShipping %>
</p>

<p>
  <strong>Billfirstname:</strong>
  <%= @order.BillFirstName %>
</p>

<p>
  <strong>Billmiddlename:</strong>
  <%= @order.BillMiddleName %>
</p>

<p>
  <strong>Billlastname:</strong>
  <%= @order.BillLastName %>
</p>

<p>
  <strong>Billcompany:</strong>
  <%= @order.BillCompany %>
</p>

<p>
  <strong>Billstreet1:</strong>
  <%= @order.BillStreet1 %>
</p>

<p>
  <strong>Billstreet2:</strong>
  <%= @order.BillStreet2 %>
</p>

<p>
  <strong>Billstreet3:</strong>
  <%= @order.BillStreet3 %>
</p>

<p>
  <strong>Billcity:</strong>
  <%= @order.BillCity %>
</p>

<p>
  <strong>Billstateprovcode:</strong>
  <%= @order.BillStateProvCode %>
</p>

<p>
  <strong>Billpostalcode:</strong>
  <%= @order.BillPostalCode %>
</p>

<p>
  <strong>Billcountrycode:</strong>
  <%= @order.BillCountryCode %>
</p>

<p>
  <strong>Billphone:</strong>
  <%= @order.BillPhone %>
</p>

<p>
  <strong>Billfax:</strong>
  <%= @order.BillFax %>
</p>

<p>
  <strong>Billemail:</strong>
  <%= @order.BillEmail %>
</p>

<p>
  <strong>Billwebsite:</strong>
  <%= @order.BillWebsite %>
</p>

<p>
  <strong>Billaddressvalidationsuggestioncount:</strong>
  <%= @order.BillAddressValidationSuggestionCount %>
</p>

<p>
  <strong>Billaddressvalidationstatus:</strong>
  <%= @order.BillAddressValidationStatus %>
</p>

<p>
  <strong>Billaddressvalidationerror:</strong>
  <%= @order.BillAddressValidationError %>
</p>

<p>
  <strong>Billresidentialstatus:</strong>
  <%= @order.BillResidentialStatus %>
</p>

<p>
  <strong>Billpobox:</strong>
  <%= @order.BillPOBox %>
</p>

<p>
  <strong>Billusterritory:</strong>
  <%= @order.BillUSTerritory %>
</p>

<p>
  <strong>Billmilitaryaddress:</strong>
  <%= @order.BillMilitaryAddress %>
</p>

<p>
  <strong>Shipfirstname:</strong>
  <%= @order.ShipFirstName %>
</p>

<p>
  <strong>Shipmiddlename:</strong>
  <%= @order.ShipMiddleName %>
</p>

<p>
  <strong>Shiplastname:</strong>
  <%= @order.ShipLastName %>
</p>

<p>
  <strong>Shipcompany:</strong>
  <%= @order.ShipCompany %>
</p>

<p>
  <strong>Shipstreet1:</strong>
  <%= @order.ShipStreet1 %>
</p>

<p>
  <strong>Shipstreet2:</strong>
  <%= @order.ShipStreet2 %>
</p>

<p>
  <strong>Shipstreet3:</strong>
  <%= @order.ShipStreet3 %>
</p>

<p>
  <strong>Shipcity:</strong>
  <%= @order.ShipCity %>
</p>

<p>
  <strong>Shipstateprovcode:</strong>
  <%= @order.ShipStateProvCode %>
</p>

<p>
  <strong>Shippostalcode:</strong>
  <%= @order.ShipPostalCode %>
</p>

<p>
  <strong>Shipcountrycode:</strong>
  <%= @order.ShipCountryCode %>
</p>

<p>
  <strong>Shipphone:</strong>
  <%= @order.ShipPhone %>
</p>

<p>
  <strong>Shipfax:</strong>
  <%= @order.ShipFax %>
</p>

<p>
  <strong>Shipemail:</strong>
  <%= @order.ShipEmail %>
</p>

<p>
  <strong>Shipwebsite:</strong>
  <%= @order.ShipWebsite %>
</p>

<p>
  <strong>Shipaddressvalidationsuggestioncount:</strong>
  <%= @order.ShipAddressValidationSuggestionCount %>
</p>

<p>
  <strong>Shipaddressvalidationstatus:</strong>
  <%= @order.ShipAddressValidationStatus %>
</p>

<p>
  <strong>Shipaddressvalidationerror:</strong>
  <%= @order.ShipAddressValidationError %>
</p>

<p>
  <strong>Shipresidentialstatus:</strong>
  <%= @order.ShipResidentialStatus %>
</p>

<p>
  <strong>Shippobox:</strong>
  <%= @order.ShipPOBox %>
</p>

<p>
  <strong>Shipusterritory:</strong>
  <%= @order.ShipUSTerritory %>
</p>

<p>
  <strong>Shipmilitaryaddress:</strong>
  <%= @order.ShipMilitaryAddress %>
</p>

<p>
  <strong>Rollupitemcount:</strong>
  <%= @order.RollupItemCount %>
</p>

<p>
  <strong>Rollupitemname:</strong>
  <%= @order.RollupItemName %>
</p>

<p>
  <strong>Rollupitemcode:</strong>
  <%= @order.RollupItemCode %>
</p>

<p>
  <strong>Rollupitemsku:</strong>
  <%= @order.RollupItemSKU %>
</p>

<p>
  <strong>Rollupitemlocation:</strong>
  <%= @order.RollupItemLocation %>
</p>

<p>
  <strong>Rollupitemquantity:</strong>
  <%= @order.RollupItemQuantity %>
</p>

<p>
  <strong>Rollupitemtotalweight:</strong>
  <%= @order.RollupItemTotalWeight %>
</p>

<p>
  <strong>Rollupnotecount:</strong>
  <%= @order.RollupNoteCount %>
</p>

<p>
  <strong>Billnameparsestatus:</strong>
  <%= @order.BillNameParseStatus %>
</p>

<p>
  <strong>Billunparsedname:</strong>
  <%= @order.BillUnparsedName %>
</p>

<p>
  <strong>Shipnameparsestatus:</strong>
  <%= @order.ShipNameParseStatus %>
</p>

<p>
  <strong>Shipunparsedname:</strong>
  <%= @order.ShipUnparsedName %>
</p>

<p>
  <strong>Shipsensehashkey:</strong>
  <%= @order.ShipSenseHashKey %>
</p>

<p>
  <strong>Shipsenserecognitionstatus:</strong>
  <%= @order.ShipSenseRecognitionStatus %>
</p>

<p>
  <strong>Shipaddresstype:</strong>
  <%= @order.ShipAddressType %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
