<p id="notice"><%= notice %></p>

<p>
  <strong>Rowversion:</strong>
  <%= @shipment.RowVersion %>
</p>

<p>
  <strong>Orderid:</strong>
  <%= @shipment.OrderID %>
</p>

<p>
  <strong>Shipmenttype:</strong>
  <%= @shipment.ShipmentType %>
</p>

<p>
  <strong>Contentweight:</strong>
  <%= @shipment.ContentWeight %>
</p>

<p>
  <strong>Totalweight:</strong>
  <%= @shipment.TotalWeight %>
</p>

<p>
  <strong>Processed:</strong>
  <%= @shipment.Processed %>
</p>

<p>
  <strong>Processeddate:</strong>
  <%= @shipment.ProcessedDate %>
</p>

<p>
  <strong>Processeduserid:</strong>
  <%= @shipment.ProcessedUserID %>
</p>

<p>
  <strong>Processedcomputerid:</strong>
  <%= @shipment.ProcessedComputerID %>
</p>

<p>
  <strong>Shipdate:</strong>
  <%= @shipment.ShipDate %>
</p>

<p>
  <strong>Shipmentcost:</strong>
  <%= @shipment.ShipmentCost %>
</p>

<p>
  <strong>Voided:</strong>
  <%= @shipment.Voided %>
</p>

<p>
  <strong>Voideddate:</strong>
  <%= @shipment.VoidedDate %>
</p>

<p>
  <strong>Voideduserid:</strong>
  <%= @shipment.VoidedUserID %>
</p>

<p>
  <strong>Voidedcomputerid:</strong>
  <%= @shipment.VoidedComputerID %>
</p>

<p>
  <strong>Trackingnumber:</strong>
  <%= @shipment.TrackingNumber %>
</p>

<p>
  <strong>Customsgenerated:</strong>
  <%= @shipment.CustomsGenerated %>
</p>

<p>
  <strong>Customsvalue:</strong>
  <%= @shipment.CustomsValue %>
</p>

<p>
  <strong>Requestedlabelformat:</strong>
  <%= @shipment.RequestedLabelFormat %>
</p>

<p>
  <strong>Actuallabelformat:</strong>
  <%= @shipment.ActualLabelFormat %>
</p>

<p>
  <strong>Shipfirstname:</strong>
  <%= @shipment.ShipFirstName %>
</p>

<p>
  <strong>Shipmiddlename:</strong>
  <%= @shipment.ShipMiddleName %>
</p>

<p>
  <strong>Shiplastname:</strong>
  <%= @shipment.ShipLastName %>
</p>

<p>
  <strong>Shipcompany:</strong>
  <%= @shipment.ShipCompany %>
</p>

<p>
  <strong>Shipstreet1:</strong>
  <%= @shipment.ShipStreet1 %>
</p>

<p>
  <strong>Shipstreet2:</strong>
  <%= @shipment.ShipStreet2 %>
</p>

<p>
  <strong>Shipstreet3:</strong>
  <%= @shipment.ShipStreet3 %>
</p>

<p>
  <strong>Shipcity:</strong>
  <%= @shipment.ShipCity %>
</p>

<p>
  <strong>Shipstateprovcode:</strong>
  <%= @shipment.ShipStateProvCode %>
</p>

<p>
  <strong>Shippostalcode:</strong>
  <%= @shipment.ShipPostalCode %>
</p>

<p>
  <strong>Shipcountrycode:</strong>
  <%= @shipment.ShipCountryCode %>
</p>

<p>
  <strong>Shipphone:</strong>
  <%= @shipment.ShipPhone %>
</p>

<p>
  <strong>Shipemail:</strong>
  <%= @shipment.ShipEmail %>
</p>

<p>
  <strong>Shipaddressvalidationsuggestioncount:</strong>
  <%= @shipment.ShipAddressValidationSuggestionCount %>
</p>

<p>
  <strong>Shipaddressvalidationstatus:</strong>
  <%= @shipment.ShipAddressValidationStatus %>
</p>

<p>
  <strong>Shipaddressvalidationerror:</strong>
  <%= @shipment.ShipAddressValidationError %>
</p>

<p>
  <strong>Shipresidentialstatus:</strong>
  <%= @shipment.ShipResidentialStatus %>
</p>

<p>
  <strong>Shippobox:</strong>
  <%= @shipment.ShipPOBox %>
</p>

<p>
  <strong>Shipusterritory:</strong>
  <%= @shipment.ShipUSTerritory %>
</p>

<p>
  <strong>Shipmilitaryaddress:</strong>
  <%= @shipment.ShipMilitaryAddress %>
</p>

<p>
  <strong>Residentialdetermination:</strong>
  <%= @shipment.ResidentialDetermination %>
</p>

<p>
  <strong>Residentialresult:</strong>
  <%= @shipment.ResidentialResult %>
</p>

<p>
  <strong>Originoriginid:</strong>
  <%= @shipment.OriginOriginID %>
</p>

<p>
  <strong>Originfirstname:</strong>
  <%= @shipment.OriginFirstName %>
</p>

<p>
  <strong>Originmiddlename:</strong>
  <%= @shipment.OriginMiddleName %>
</p>

<p>
  <strong>Originlastname:</strong>
  <%= @shipment.OriginLastName %>
</p>

<p>
  <strong>Origincompany:</strong>
  <%= @shipment.OriginCompany %>
</p>

<p>
  <strong>Originstreet1:</strong>
  <%= @shipment.OriginStreet1 %>
</p>

<p>
  <strong>Originstreet2:</strong>
  <%= @shipment.OriginStreet2 %>
</p>

<p>
  <strong>Originstreet3:</strong>
  <%= @shipment.OriginStreet3 %>
</p>

<p>
  <strong>Origincity:</strong>
  <%= @shipment.OriginCity %>
</p>

<p>
  <strong>Originstateprovcode:</strong>
  <%= @shipment.OriginStateProvCode %>
</p>

<p>
  <strong>Originpostalcode:</strong>
  <%= @shipment.OriginPostalCode %>
</p>

<p>
  <strong>Origincountrycode:</strong>
  <%= @shipment.OriginCountryCode %>
</p>

<p>
  <strong>Originphone:</strong>
  <%= @shipment.OriginPhone %>
</p>

<p>
  <strong>Originfax:</strong>
  <%= @shipment.OriginFax %>
</p>

<p>
  <strong>Originemail:</strong>
  <%= @shipment.OriginEmail %>
</p>

<p>
  <strong>Originwebsite:</strong>
  <%= @shipment.OriginWebsite %>
</p>

<p>
  <strong>Returnshipment:</strong>
  <%= @shipment.ReturnShipment %>
</p>

<p>
  <strong>Insurance:</strong>
  <%= @shipment.Insurance %>
</p>

<p>
  <strong>Insuranceprovider:</strong>
  <%= @shipment.InsuranceProvider %>
</p>

<p>
  <strong>Shipnameparsestatus:</strong>
  <%= @shipment.ShipNameParseStatus %>
</p>

<p>
  <strong>Shipunparsedname:</strong>
  <%= @shipment.ShipUnparsedName %>
</p>

<p>
  <strong>Originnameparsestatus:</strong>
  <%= @shipment.OriginNameParseStatus %>
</p>

<p>
  <strong>Originunparsedname:</strong>
  <%= @shipment.OriginUnparsedName %>
</p>

<p>
  <strong>Bestrateevents:</strong>
  <%= @shipment.BestRateEvents %>
</p>

<p>
  <strong>Shipsensestatus:</strong>
  <%= @shipment.ShipSenseStatus %>
</p>

<p>
  <strong>Shipsensechangesets:</strong>
  <%= @shipment.ShipSenseChangeSets %>
</p>

<p>
  <strong>Shipsenseentry:</strong>
  <%= @shipment.ShipSenseEntry %>
</p>

<p>
  <strong>Onlineshipmentid:</strong>
  <%= @shipment.OnlineShipmentID %>
</p>

<p>
  <strong>Billedtype:</strong>
  <%= @shipment.BilledType %>
</p>

<p>
  <strong>Billedweight:</strong>
  <%= @shipment.BilledWeight %>
</p>

<%= link_to 'Edit', edit_shipment_path(@shipment) %> |
<%= link_to 'Back', shipments_path %>
