<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
  	<div id="wrapper">
	    <%= render :partial =>'layouts/navbar' %>
	    <% if !current_user.nil? %>
	    <%= render :partial =>'layouts/sidenav' %>
	    <% end %>
	    <div id="page-wrapper">
            <div class="container-fluid">
			  	<p class="notice"><%= notice %></p>
			    <p class="alert"><%= alert %></p>
			    <%= yield %>
	    	</div>
	    </div>
    </div>
  </body>
</html>
